#text {
    float: left;
    width: 75%
}

#image {
    float: right;
    width: 25%
}

img {
    width: 100%
}

body{
    background-color: #313e57;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white
}

a:visited{
    color: #D1D1D1
}